doctype html

html
    head
        link(rel="stylesheet" href="../css/style.css")
    body
        h1#pageTitle Welcome to Pug!
        p.big-paragraph.
            This is a paragraph tag 
            and this is the new line            
        p.big-paragraph.
            This is a paragraph tag 
            and this is the new line        
        ul
            li First Item
            li Second Item
        
        // - Pug will render this type of selector like a div (default).
        .display-box
        #myOnlyDiv

        // - Attributes
        input(type="password" name="inpPass")
        
        - const isAuthenticated = true ? "Verificado" : "No verificado"

        input(
            type='checkbox'
            name='agreement'
            checked
        )

        input(type="text" name="inpText" data-js=`${ 5 > 2 ? "OK" : "NOT OK"}`)

        //Quoted attributes
        div(class='div-class' '(click)'='play()')
        
        p= isAuthenticated
            span= "Text that is <<p>escaped</p>>!"
        
        //Unescaped Buffered Code
        p!= 'This code is <strong>not</strong> escaped!'

        //Attribute Interpolation

        - const url = 'pug-test.html';
        a(href=`/${url}`) Root

        //Style Attributes
        a(style={color: 'red', background: 'green'}) Style attribute

        //Class Attributes
        - const classes = ['foo', 'bar', 'baz'];

        a(class=classes) Classes
        p.bang(class=classes class='bing')

        - const currentUrl = '/about';

        // Class Attributes
        p(class={active: curreuntUrl === '/'} href='/') Home
        p(class={active: currentUrl === '/about'} href='/about') About

        // &attributes
        - const attributes = {};
        - attributes.class = 'baz';
        div#foo(data-bar="foo")&attributes(attributes)

        // For/Each Loop
        each n, i in [50,2,3,4,5]
            p= "Number " + n + " is at the index " + (i+1)

        - const fruit = { name: "Apple", color: "Red", price: 24.80}
        - const anotherArray = [];

            for value, key in anotherArray
                p= `The ${key} of this fruit is ${value}`
            else 
                strong There is no props or content to iterate!
        
        // Conditionals
        - const user = { name: "Juliet", isLogged: true, lastLogin: 11}

        if user.isLogged
            p
                | Welcome back,
                strong #{user.name}

        else if user.lastLogin < 10
            p Your last login was #{ user.lastLogin } ago.
            p
                a(href="/login") Log in Again
        
        else
            a(href="/login") Log in

        // Case statement
        - let orderStatus = 'Completed';

        case orderStatus
            when 'Pending'
                p Your order has been placed and will sent shortly.
            
            when 'In_tramit'
                p Your order is processing...
            
            when 'Completed'
                p Your order has been delivered.